.section-subtitle {
  margin: 40px 0 0;
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 1.2;
}

@media screen and (max-width: 1130px) {
  .section-subtitle {
    font-size: 30px;
  }
}

@media screen and (max-width: 900px) {
  .section-subtitle {
    font-size: 20px;
  }
}
