.header {
  box-sizing: border-box;
  max-width: calc(100% - (2 * 80px));
  min-height: 70px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media screen and (max-width: 1130px) {
  .header {
    padding: 10px;
  }
}

@media screen and (max-width: 1130px) {
  .header {
    padding: 10px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding: 10px;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    gap: 5px;
  }
}