.header {
  width: 100%;
  min-height: 70px;
  box-sizing: border-box;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.header::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 600px) {
  .header {
    min-height: 40px;
  }
}

/* @media screen and (max-width: 620px) {
  .header {
    padding-top: 25px;
    min-height: 150px;
    align-items: flex-start;
  }
} */
