.cards__item-content {
  flex-basis: 50%;
  background-color: var(--optional-back);
  padding: 5%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}
