.cards__item {
  width: 100%;
  min-height: 600px;
  display: flex;
}

.cards__item:nth-of-type(2n) {
  flex-direction: row-reverse;
}

@media screen and (max-width: 1130px) {
  .cards__item {
    min-height: 520px;
  }
}

@media screen and (max-width: 620px) {
  .cards__item {
    min-height: 320px;
    flex-direction: column;
  }

  .cards__item:nth-of-type(2n) {
    flex-direction: column;
  }
}
