.footer__copyright {
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
}

@media screen and (max-width: 1130px) {
  .footer__copyright {
    font-size: 30px;
  }
}

@media screen and (max-width: 900px) {
  .footer__copyright {
    font-size: 20px;
  }
}