.intro {
  width: 100%;
  padding: 5% 13% 10% 5%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

@media screen and (max-width: 620px) {
  .intro {
    flex-direction: column-reverse;
    padding: 15px 5% 70px;
  }
}