.intro__img {
  width: 100%;
  max-width: 400px;
  max-height: 400px;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 1130px) {
  .intro__img {
    max-width: 316px;
    max-height: 316px;
  }
}

@media screen and (max-width: 900px) {
  .intro__img {
    max-width: 250px;
    max-height: 250px;
  }
}

@media screen and (max-width: 620px) {
  .intro__img {
    max-width: 100%;
    object-position: top;
  }
}